<p>As an illustration, here is an (opinionated) list of the most successful free/libre/open source software, who have become standard:</p>
<ul>
<li><strong>Chromium</strong> is the base of Google Chrome, and is published as open source. Its rendering engine, <strong>Blink</strong>, is shared by almost all browsers (except <strong>Firefox</strong>, which is also free software). In general, the importance of web browsers in modern life makes it almost unthinkable to not have them auditable, and free software licenses are a good way to make it possible.</li>
<li><strong>GNU/Linux</strong> (or just "Linux") is an operating system powering most servers (which also run free software like <strong>Apache</strong> when it comes to serving web content), a large majority of smartphones (as <strong>Android</strong>, also open-source, runs on it), and lots of computers.</li>
<li><strong>Almost all programming languages, compilers, and tooling</strong> are open-source, as it makes it easier for anyone to help improve them. Not all IDEs are free software, but some of the most common ones like <strong>VSCodium</strong> and text editors like <strong>vim</strong> and <strong>emacs</strong> are.</li>
<li><strong>Libreoffice</strong>, <strong>VLC</strong>,<strong> Blender</strong>, <strong>MySQL</strong>, etc. have become some of the most renowned software in their respective areas</li>
</ul>