<p>If you are already familiar with these tools, you can jump ahead to the activities which will get us started on making concrete contributions to a project. Don't skip those though! They are simple steps, but ones we'll build upon in future sections to ramp up the size and scope of our contributions.</p>
<p></p>