<p>You can go further and explore forges more deeply by doing this external activity:</p>
<p><a href="https://teachingopensource.org/FOSS_Field_Trip_(Activity)" target="_blank" rel="noopener"> https://teachingopensource.org/FOSS_Field_Trip_(Activity)</a> <a href="http://teachingopensource.org/activity/foss-field-trip-browsing-forge/" target="[object Object]"></a></p>
<p></p>