<p>THIS IS HIDDEN FROM THE STUDENTS FOR NOW</p>
<p>This activity uses the GITLAB Bot developped by Quentin ROUSSEL (see issue <a href="https://gitlab.com/mooc-floss/mooc-floss/-/issues/151" target="_blank" rel="noopener">https://gitlab.com/mooc-floss/mooc-floss/-/issues/151</a> )</p>
<p></p>
<p></p>