<h3>A multilingual project</h3>
<p>Wikidata has some particularities. If you are used to Wikipedia, you have noticed that there are different language versions: English, French, German, Spanish... Which each evolve independently. Wikidata is a single project, which works in all languages. Each contributor chooses the language of his or her interface when creating an account, and can add information to Wikidata in his or her preferred language.</p>
<p>That's why, on Wikidata, each data page contain information in many different languages.</p>
<div><a href="https://upload.wikimedia.org/wikipedia/commons/f/f6/D%C3%A9signer_un_%C3%A9l%C3%A9phant_dans_diff%C3%A9rentes_langues.png" target="[object Object]"><img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/D%C3%A9signer_un_%C3%A9l%C3%A9phant_dans_diff%C3%A9rentes_langues.png" alt="" style="display: block; margin-left: auto; margin-right: auto;" width="768" height="711" /></a></div>
<div>
<div style="text-align: center;"><em style="font-size: 14.4px; text-align: center;">Fig. 2. Ex</em><span style="text-align: start;">ample of descriptions in a Wikidata data page</span><br style="font-size: 14.4px; text-align: center;" />
<div style="text-align: center;"><span gt="" style="font-size: 0.6em;"><a href="https://commons.wikimedia.org/wiki/File:D%C3%A9signer_un_%C3%A9l%C3%A9phant_dans_diff%C3%A9rentes_langues.png" target="[object Object]">CC-by-SA</a> / <a href="https://upload.wikimedia.org/wikipedia/commons/f/f6/D%C3%A9signer_un_%C3%A9l%C3%A9phant_dans_diff%C3%A9rentes_langues.png" target="_blank" rel="noopener">enlarge</a></span></div>
</div>
</div>
<p>This multilingualism of Wikidata leads to constraints necessary for its proper functioning.</p>
<p>The different language versions of Wikipedia use a title to designate each subject or concept in its language: Elephant in French, Elefante in Italian, Olifanten in Dutch... In Wikipedia, this title given to the concept in each language is found in the web address of each page. For example, "<a href="https://en.wikipedia.org/wiki/Book" target="_blank" rel="noopener">https://en.wikipedia.org/wiki/Book</a>" is the web address of the page called "Book" in English.</p>