<p>In the best public place for this in the project, i.e. where you have had the most reactions in the past, post a message:</p>
<ul>
<li>Approach it as a follow-up: continue the discussion (replying to your previous message on the same thread if it's on a forum, for example), or reference the previous interaction. Show an intention to deepen your interaction/involvement with the project -- you said thanks in the past, but now you want to deepen your implication in the project.</li>
<li>Talk to the project members or maintainers you have interacted with. Tag them explicitly so they know you're talking to them in particular, though the answer could still come from someone else since the discussion happens in public.</li>
<li>Show your homework: what you have read from the project (link to the contribution guidelines &amp; to the list of tickets for beginners if the project has some), as well as your areas of interest, and asking if there are specific small beginner tickets that would be most useful to the project right now. Demonstrate that you have already taken into account what the project has already documented (to avoid getting <a href=" https://groups.google.com/g/django-users/c/FQbpV1zcg_I/m/Pb1WhBuXDAAJ" target="[object Object]">this type of reply</a>). If the documentation for new contributors mentions some tasks for beginners, it can be worth mentioning that you have looked into that list, mentioning the tasks that looked interesting to you, and asking for confirmation that they are good tasks for beginners, as well as which one(s) would be most useful to the project. </li>
</ul>
<p><a href="https://forums.ankiweb.net/t/a-thank-you-newcomer-contributions-to-the-manual/8885" target="[object Object]">[ Example of an introduction &amp; bug search post ]</a></p>