<p>Let's get started with an activity in which you manipulate directly Gitlab to create a web page, modify it and keep track of the modification history.</p>
<p>You will host your web page using Gitlab pages and use the Gitlab features to keep track of the modifications you've made on your web page.</p>
<ol>
<li>Create an account on <a href="https://www.gitlab.com" target="_blank" rel="noopener">gitlab.com </a><br />as explained <a href="https://about.gitlab.com/free-trial/#what-happens-after-my-free-trial-ends" target="_blank" rel="noopener">here</a> when your free 30-days trial expires, you can maintain a GitLab Free account forever.</li>
<li>Create a <a href="https://gitlab.com/projects/new#create_from_template" target="_blank" rel="noopener">new projet from a template</a> and choose the Pages/Plain HTML template, give it a name and make it Public if you want to source code to be accessible to anyone. <br /><img src="/static/gitlab1.png" alt="" width="435" height="403" /></li>
<li>Once your project is created, open the web IDE to modify the source code of the page by clicking the web IDE button<br /><img src="/static/gitlab2.png" alt="" width="507" height="380" /></li>
<li>Once in the web IDE, you can modify the source code of the web page by editing the public/index.html file. Modify the title "Hello World" and the paragraph "This is a simple plain..." with your own title/description of whatever subject you want to discuss on your web page. You may want to <a href="https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started" target="_blank" rel="noopener">learn a little bit of HTML</a> to understand the given template and to organize content on your web page. <br /><img src="/static/gitlab3.png" alt="" width="789" height="304" /></li>
<li>Go to the source control tab (on the left), describe your modification in the "commit message" field, click "Commit &amp; Push" and when you are asked "Commit to a new branch?" answer "No Use the current branch "master" "<br /><img src="/static/gitlab4.png" alt="" width="792" height="398" /></li>
<li>Go back to your project and under Settings &gt; Pages you will get the URL to access your web page (for example here https://remisharrock.gitlab.io/mywebsite ). You can access your web page by clicking this link.<br /><img src="/static/gitlab5.png" alt="" width="563" height="430" /></li>
<li>You can modify again your website with the IDE, save the change by doing again a "commit and push" and see the history of the modifications in the Repository &gt; Commits section of you project.<br /><img src="/static/gitlab6.png" alt="" width="891" height="325" /></li>
</ol>
<p>For now we won't try to "undo" your changes to restore an older version, but it's absolutely possible to do that using mechanisms like "revert" or "reset" or "cherry-picking" or "merging new branches".</p>