/*------------------------------------*\
    $MARGIN AND PADDING
\*------------------------------------*/
$marpad-giga: px-to-rem($spacing-scalar * $fs-base * 3);
$marpad-mega: px-to-rem($spacing-scalar * $fs-base * 2.5);
$marpad-kilo: px-to-rem($spacing-scalar * $fs-base * 2);
$marpad-largest: px-to-rem($spacing-scalar * $fs-base * 1.7);
$marpad-larger: px-to-rem($spacing-scalar * $fs-base * 1.6);
$marpad-large: px-to-rem($spacing-scalar * $fs-base * 1.3);
$marpad-base: px-to-rem($spacing-scalar * $fs-base);
$marpad-small: px-to-rem($spacing-scalar * $fs-base * 0.8);
$marpad-smaller: px-to-rem($spacing-scalar * $fs-base * 0.7);
$marpad-smallest: px-to-rem($spacing-scalar * $fs-base * 0.5);


/*------------------------------------*\
    $MARGIN
\*------------------------------------*/
@mixin u-margin--giga { margin: $marpad-giga; }
@mixin u-margin--giga--block-start { margin-block-start: $marpad-giga; }
@mixin u-margin--giga--inline-end { margin-inline-end: $marpad-giga; }
@mixin u-margin--giga--block-end { margin-block-end: $marpad-giga; }
@mixin u-margin--giga--inline-start { margin-inline-start: $marpad-giga; }
@mixin u-margin--giga--block { margin-block-start: $marpad-giga; margin-block-end: $marpad-giga;
}
@mixin u-margin--giga--inline {
  margin-inline-end: $marpad-giga;
  margin-inline-start: $marpad-giga;
}

@mixin u-margin--mega { margin: $marpad-mega; }
@mixin u-margin--mega--block-start { margin-block-start: $marpad-mega; }
@mixin u-margin--mega--inline-end { margin-inline-end: $marpad-mega; }
@mixin u-margin--mega--block-end { margin-block-end: $marpad-mega; }
@mixin u-margin--mega--inline-start { margin-inline-start: $marpad-mega; }
@mixin u-margin--mega--block {
  margin-block-start: $marpad-mega;
  margin-block-end: $marpad-mega;
}
@mixin u-margin--mega--inline {
  margin-inline-end: $marpad-mega;
  margin-inline-start: $marpad-mega;
}

@mixin u-margin--kilo { margin: $marpad-kilo; }
@mixin u-margin--kilo--block-start { margin-block-start: $marpad-kilo; }
@mixin u-margin--kilo--inline-end { margin-inline-end: $marpad-kilo; }
@mixin u-margin--kilo--block-end { margin-block-end: $marpad-kilo; }
@mixin u-margin--kilo--inline-start { margin-inline-start: $marpad-kilo; }
@mixin u-margin--kilo--block {
  margin-block-start: $marpad-kilo;
  margin-block-end: $marpad-kilo;
}
@mixin u-margin--kilo--inline {
  margin-inline-end: $marpad-kilo;
  margin-inline-start: $marpad-kilo;
}

@mixin u-margin--largest { margin: $marpad-largest; }
@mixin u-margin--largest--block-start { margin-block-start: $marpad-largest; }
@mixin u-margin--largest--inline-end { margin-inline-end: $marpad-largest; }
@mixin u-margin--largest--block-end { margin-block-end: $marpad-largest; }
@mixin u-margin--largest--inline-start { margin-inline-start: $marpad-largest; }
@mixin u-margin--largest--block {
  margin-block-start: $marpad-largest;
  margin-block-end: $marpad-largest;
}
@mixin u-margin--largest--inline {
  margin-inline-end: $marpad-largest;
  margin-inline-start: $marpad-largest;
}

@mixin u-margin--larger { margin: $marpad-larger; }
@mixin u-margin--larger--block-start { margin-block-start: $marpad-larger; }
@mixin u-margin--larger--inline-end { margin-inline-end: $marpad-larger; }
@mixin u-margin--larger--block-end { margin-block-end: $marpad-larger; }
@mixin u-margin--larger--inline-start { margin-inline-start: $marpad-larger; }
@mixin u-margin--larger--block {
  margin-block-start: $marpad-larger;
  margin-block-end: $marpad-larger;
}
@mixin u-margin--larger--inline {
  margin-inline-end: $marpad-larger;
  margin-inline-start: $marpad-larger;
}

@mixin u-margin--large { margin: $marpad-large; }
@mixin u-margin--large--block-start { margin-block-start: $marpad-large; }
@mixin u-margin--large--inline-end { margin-inline-end: $marpad-large; }
@mixin u-margin--large--block-end { margin-block-end: $marpad-large; }
@mixin u-margin--large--inline-start { margin-inline-start: $marpad-large; }
@mixin u-margin--large--block {
  margin-block-start: $marpad-large;
  margin-block-end: $marpad-large;
}
@mixin u-margin--large--inline {
  margin-inline-end: $marpad-large;
  margin-inline-start: $marpad-large;
}

@mixin u-margin { margin: $marpad-base; }
@mixin u-margin--block-start { margin-block-start: $marpad-base; }
@mixin u-margin--inline-end { margin-inline-end: $marpad-base; }
@mixin u-margin--block-end { margin-block-end: $marpad-base; }
@mixin u-margin--inline-start { margin-inline-start: $marpad-base; }
@mixin u-margin--block {
  margin-block-start: $marpad-base;
  margin-block-end: $marpad-base;
}
@mixin u-margin--inline {
  margin-inline-end: $marpad-base;
  margin-inline-start: $marpad-base;
}

@mixin u-margin--small {
  margin: $marpad-small;
}
@mixin u-margin--small--block-start {
  margin-block-start: $marpad-small;
}
@mixin u-margin--small--inline-end {
  margin-inline-end: $marpad-small;
}
@mixin u-margin--small--block-end {
  margin-block-end: $marpad-small;
}
@mixin u-margin--small--inline-start {
  margin-inline-start: $marpad-small;
}
@mixin u-margin--small--block {
  margin-block-start: $marpad-small;
  margin-block-end: $marpad-small;
}
@mixin u-margin--small--inline {
  margin-inline-end: $marpad-small;
  margin-inline-start: $marpad-small;
}

@mixin u-margin--smaller {
  margin: $marpad-smaller;
}
@mixin u-margin--smaller--block-start {
  margin-block-start: $marpad-smaller;
}
@mixin u-margin--smaller--inline-end {
  margin-inline-end: $marpad-smaller;
}
@mixin u-margin--smaller--block-end {
  margin-block-end: $marpad-smaller;
}
@mixin u-margin--smaller--inline-start {
  margin-inline-start: $marpad-smaller;
}
@mixin u-margin--smaller--block {
  margin-block-start: $marpad-smaller;
  margin-block-end: $marpad-smaller;
}
@mixin u-margin--smaller--inline {
  margin-inline-end: $marpad-smaller;
  margin-inline-start: $marpad-smaller;
}

@mixin u-margin--smallest {
  margin: $marpad-smallest;
}
@mixin u-margin--smallest--block-start {
  margin-block-start: $marpad-smallest;
}
@mixin u-margin--smallest--inline-end {
  margin-inline-end: $marpad-smallest;
}
@mixin u-margin--smallest--block-end {
  margin-block-end: $marpad-smallest;
}
@mixin u-margin--smallest--inline-start {
  margin-inline-start: $marpad-smallest;
}
@mixin u-margin--smallest--block {
  margin-block-start: $marpad-smallest;
  margin-block-end: $marpad-smallest;
}
@mixin u-margin--smallest--inline {
  margin-inline-end: $marpad-smallest;
  margin-inline-start: $marpad-smallest;
}

@mixin u-margin--none {
  margin: 0;
}
@mixin u-margin--none--block-start {
  margin-block-start: 0;
}
@mixin u-margin--none--inline-end {
  margin-inline-end: 0;
}
@mixin u-margin--none--block-end {
  margin-block-end: 0;
}
@mixin u-margin--none--inline-start {
  margin-inline-start: 0;
}
@mixin u-margin--none--block {
  margin-block-start: 0;
  margin-block-end: 0;
}
@mixin u-margin--none--inline {
  margin-inline-end: 0;
  margin-inline-start: 0;
}

/*------------------------------------*\
    NEGATIVE MARGIN
\*------------------------------------*/
@mixin u-margin--negative--large--block-start { margin-block-start: -$marpad-large; }
@mixin u-margin--negative--large--inline-end { margin-inline-end: -$marpad-large; }
@mixin u-margin--negative--large--block-end { margin-block-end: -$marpad-large; }
@mixin u-margin--negative--large--inline-start { margin-inline-start: -$marpad-large; }



/*------------------------------------*\
    $PADDING
\*------------------------------------*/
@mixin u-padding--giga {
  padding: $marpad-giga;
}
@mixin u-padding--giga--block-start {
  padding-block-start: $marpad-giga;
}
@mixin u-padding--giga--inline-end {
  padding-inline-end: $marpad-giga;
}
@mixin u-padding--giga--block-end {
  padding-block-end: $marpad-giga;
}
@mixin u-padding--giga--inline-start {
  padding-inline-start: $marpad-giga;
}
@mixin u-padding--giga--block {
  padding-block-start: $marpad-giga;
  padding-block-end: $marpad-giga;
}
@mixin u-padding--giga--inline {
  padding-inline-end: $marpad-giga;
  padding-inline-start: $marpad-giga;
}

@mixin u-padding--mega {
  padding: $marpad-mega;
}
@mixin u-padding--mega--block-start {
  padding-block-start: $marpad-mega;
}
@mixin u-padding--mega--inline-end {
  padding-inline-end: $marpad-mega;
}
@mixin u-padding--mega--block-end {
  padding-block-end: $marpad-mega;
}
@mixin u-padding--mega--inline-start {
  padding-inline-start: $marpad-mega;
}
@mixin u-padding--mega--block {
  padding-block-start: $marpad-mega;
  padding-block-end: $marpad-mega;
}
@mixin u-padding--mega--inline {
  padding-inline-end: $marpad-mega;
  padding-inline-start: $marpad-mega;
}

@mixin u-padding--kilo {
  padding: $marpad-kilo;
}
@mixin u-padding--kilo--block-start {
  padding-block-start: $marpad-kilo;
}
@mixin u-padding--kilo--inline-end {
  padding-inline-end: $marpad-kilo;
}
@mixin u-padding--kilo--block-end {
  padding-block-end: $marpad-kilo;
}
@mixin u-padding--kilo--inline-start {
  padding-inline-start: $marpad-kilo;
}
@mixin u-padding--kilo--block {
  padding-block-start: $marpad-kilo;
  padding-block-end: $marpad-kilo;
}
@mixin u-padding--kilo--inline {
  padding-inline-end: $marpad-kilo;
  padding-inline-start: $marpad-kilo;
}

@mixin u-padding--largest {
  padding: $marpad-largest;
}
@mixin u-padding--largest--block-start {
  padding-block-start: $marpad-largest;
}
@mixin u-padding--largest--inline-end {
  padding-inline-end: $marpad-largest;
}
@mixin u-padding--largest--block-end {
  padding-block-end: $marpad-largest;
}
@mixin u-padding--largest--inline-start {
  padding-inline-start: $marpad-largest;
}
@mixin u-padding--largest--block {
  padding-block-start: $marpad-largest;
  padding-block-end: $marpad-largest;
}
@mixin u-padding--largest--inline {
  padding-inline-end: $marpad-largest;
  padding-inline-start: $marpad-largest;
}

@mixin u-padding--larger {
  padding: $marpad-larger;
}
@mixin u-padding--larger--block-start {
  padding-block-start: $marpad-larger;
}
@mixin u-padding--larger--inline-end {
  padding-inline-end: $marpad-larger;
}
@mixin u-padding--larger--block-end {
  padding-block-end: $marpad-larger;
}
@mixin u-padding--larger--inline-start {
  padding-inline-start: $marpad-larger;
}
@mixin u-padding--larger--block {
  padding-block-start: $marpad-larger;
  padding-block-end: $marpad-larger;
}
@mixin u-padding--larger--inline {
  padding-inline-end: $marpad-larger;
  padding-inline-start: $marpad-larger;
}

@mixin u-padding--large {
  padding: $marpad-large;
}
@mixin u-padding--large--block-start {
  padding-block-start: $marpad-large;
}
@mixin u-padding--large--inline-end {
  padding-inline-end: $marpad-large;
}
@mixin u-padding--large--block-end {
  padding-block-end: $marpad-large;
}
@mixin u-padding--large--inline-start {
  padding-inline-start: $marpad-large;
}
@mixin u-padding--large--block {
  padding-block-start: $marpad-large;
  padding-block-end: $marpad-large;
}
@mixin u-padding--large--inline {
  padding-inline-end: $marpad-large;
  padding-inline-start: $marpad-large;
}

@mixin u-padding {
  padding: $marpad-base;
}
@mixin u-padding--block-start {
  padding-block-start: $marpad-base;
}
@mixin u-padding--inline-end {
  padding-inline-end: $marpad-base;
}
@mixin u-padding--block-end {
  padding-block-end: $marpad-base;
}
@mixin u-padding--inline-start {
  padding-inline-start: $marpad-base;
}
@mixin u-padding--block {
  padding-block-start: $marpad-base;
  padding-block-end: $marpad-base;
}
@mixin u-padding--inline {
  padding-inline-end: $marpad-base;
  padding-inline-start: $marpad-base;
}

@mixin u-padding--small {
  padding: $marpad-small;
}
@mixin u-padding--small--block-start {
  padding-block-start: $marpad-small;
}
@mixin u-padding--small--inline-end {
  padding-inline-end: $marpad-small;
}
@mixin u-padding--small--block-end {
  padding-block-end: $marpad-small;
}
@mixin u-padding--small--inline-start {
  padding-inline-start: $marpad-small;
}
@mixin u-padding--small--block {
  padding-block-start: $marpad-small;
  padding-block-end: $marpad-small;
}
@mixin u-padding--small--inline {
  padding-inline-end: $marpad-small;
  padding-inline-start: $marpad-small;
}

@mixin u-padding--smaller {
  padding: $marpad-smaller;
}
@mixin u-padding--smaller--block-start {
  padding-block-start: $marpad-smaller;
}
@mixin u-padding--smaller--inline-end {
  padding-inline-end: $marpad-smaller;
}
@mixin u-padding--smaller--block-end {
  padding-block-end: $marpad-smaller;
}
@mixin u-padding--smaller--inline-start {
  padding-inline-start: $marpad-smaller;
}
@mixin u-padding--smaller--block {
  padding-block-start: $marpad-smaller;
  padding-block-end: $marpad-smaller;
}
@mixin u-padding--smaller--inline {
  padding-inline-end: $marpad-smaller;
  padding-inline-start: $marpad-smaller;
}

@mixin u-padding--smallest {
  padding: $marpad-smallest;
}
@mixin u-padding--smallest--block-start {
  padding-block-start: $marpad-smallest;
}
@mixin u-padding--smallest--inline-end {
  padding-inline-end: $marpad-smallest;
}
@mixin u-padding--smallest--block-end {
  padding-block-end: $marpad-smallest;
}
@mixin u-padding--smallest--inline-start {
  padding-inline-start: $marpad-smallest;
}
@mixin u-padding--smallest--block {
  padding-block-start: $marpad-smallest;
  padding-block-end: $marpad-smallest;
}
@mixin u-padding--smallest--inline {
  padding-inline-end: $marpad-smallest;
  padding-inline-start: $marpad-smallest;
}


@mixin u-padding--none {
  padding: 0;
}
@mixin u-padding--none--block-start {
  padding-block-start: 0;
}
@mixin u-padding--none--inline-end {
  padding-inline-end: 0;
}
@mixin u-padding--none--block-end {
  padding-block-end: 0;
}
@mixin u-padding--none--inline-start {
  padding-inline-start: 0;
}
@mixin u-padding--none--block {
  padding-block-start: 0;
  padding-block-end: 0;
}
@mixin u-padding--none--inline {
  padding-inline-end: 0;
  padding-inline-start: 0;
}
