/*------------------------------------*\
    LINKS
\*------------------------------------*/
a {
  @include u-link-transition;
  @include u-fc--link-states(
    var(--struct-clr-primary),
    var(--struct-clr-primary-dk),
    var(--struct-clr-primary)
  );
  text-decoration: none;

  &:focus {
    outline: 1px dotted var(--struct-clr-primary-dk);
  }

  &:hover {
    outline: 0;
  }

  &:visited {
  }
}
